body {
    margin: 0;
    padding: 0;
    background-color: #153243;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.box {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.spiral {
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
}

.loading .one {
    animation-delay: .2s;
}

.loading .two {
    animation-delay: .3s;
}

.loading .three {
    animation-delay: .4s;
}

.loading .four {
    animation-delay: .5s;
}

.one {
    animation: loader1 0.8s ease infinite;
}

@keyframes loader1 {
    0% {
        width: 30px;
        height: 30px;
    }

    50% {
        width: 100%;
        height: 100%;
    }
}

.two {
    animation: loader2 0.8s ease infinite;
}

@keyframes loader2 {
    0% {
        width: 30px;
        height: 30px;
    }

    50% {
        width: 100%;
        height: 100%;
    }
}

.three {
    animation: loader3 0.8s ease infinite;
}

@keyframes loader3 {
    0% {
        width: 30px;
        height: 30px;
    }

    50% {
        width: 100%;
        height: 100%;
    }
}

.four {
    animation: loader4 0.8s ease infinite;
}

@keyframes loader4 {
    0% {
        width: 30px;
        height: 30px;
    }

    50% {
        width: 100%;
        height: 100%;
    }
}